<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <div class="footer my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h5>Ettevõte</h5>
                    <ul>
                        <li>Nullam OÜ</li>
                        <li>Ürituste korraldus</li>
                        <li>123 456</li>
                        <li>nullam@nullam.ee</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Kasulik info</h5>
                    <ul>
                        <li>Kasutajatingimused</li>
                        <li>Privaatsuspoliitika</li>
                        <li>Hinnakiri</li>
                        <li>...</li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h5>Kontakt</h5>
                    <p><strong>Peakontor: Tallinnas</strong><br>
                        Väike-Ameerika 1, 11415 Tallinn<br>
                        Telefon: 605 4450<br>
                        Faks: 605 3186</p>
                </div>
                <div class="col-md-3">
                    <h5 style="opacity: 0">Kontakt</h5>
                    <p><strong>Harukontor: Võrus</strong><br>
                        Oja tn 7 (külastusaadress)<br>
                        Telefon: 605 3330<br>
                        Faks: 605 3155</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
